*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100%;
    background-color: black;
    padding: 1px;
    display: flex;
    align-items: flex-start;
}
.card{
    /* height: 350px; */
    width: 300px;
    background-color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    
}
.card img{
    margin-top: 10px;
    height: 180px;
    width: 65%;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    margin-top: 15px;
    font-size: 30px;
    color: black;
    flex-wrap: nowrap;
}
.card h3{
    margin-top: 15px;
    font-size: 15px;
    color: gray;
    font-weight: 400;
    flex-wrap: nowrap;
}
.card p{
    margin-top: 15px;
    font-size: 15px;
    color: black;
    font-weight: 200;
}