*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}

html,body{
    height: 100%;
    width: 100%;
    cursor: none;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#cursor{
    height: 50px;
    position: fixed;
    transform: translate(-50%,-50%);
}