*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: white;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}