*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    /* background-color: red; */
}
.box{
    height: 500px;
    width: 700px;
    background-color: black;
}
.screen{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    margin: 10px;
    height: 250px;
    width: full;
    color: white;
}
.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
button{
    margin-top: 20px;
    font-size: 80px;
    height: 150px;
    border-radius: 20px;
}