*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .box{
    height: 500px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
main .box img{
    width: 100%;
    height: 80%;
    padding: 20px;
    border-radius: 30px;
    object-fit: cover;
    margin-top: 10px;
}
main .box  h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
}
main .box i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 80px;
    opacity: 0;
    background-image: url(https://img.freepik.com/premium-vector/vector-instagram-background-gradient-colors_921039-4890.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-90deg);
    transition: all cubic-bezier(.68,.83,.82,1.28) 0.3s;
}
