*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 500px;
    background-color: rgb(51, 51, 51);
    margin-top: 10px;
    border-radius: 10px
}
.elem button{
    padding: 10px;
    background: linear-gradient(rgb(95, 91, 91), rgb(12, 22, 12));
    color: white;
    font: bold;
}
.elem h1{
    font-size: 50px;
    color: white;
}